---
---

@import "{{ site.theme }}";

code {
  background-color: transparent !important;
  padding: 0 !important;
}

.main-content {
  font-size: inherit !important;
  text-align: justify;
}

// Matches the #include <header> at the top of each page
.main-content p small strong {
  border-top: 1px solid #e9ebec;
  border-bottom: 1px solid #e9ebec;
  padding: 5px;
}

.main-content p small strong code {
  margin-left: 5px;
  color: #155799;
}

.main-content table {
  display: table;
  font-size: 10pt;
}

.main-content table code {
  font-size: 10pt;
}

.main-content table th, .main-content table td {
  border: none;
  border-bottom: 1px solid #e9ebec;
}

.main-content table th {
  text-align: left;
}
